.fixed {
    z-index: 10;
}
.od-1 {
    order: 1;
}
.od-2 {
    order: 2;
}
.od-3 {
    order: 3;
}
.od-4 {
    order: 4;
}
.od-5 {
    order: 5;
}
.od-6 {
    order: 6;
}
.btn-hmb {
    display: none;
}
.navbar-mobile {
    position: fixed;
    top: 100px;
    right: calc( (768px - 320px) / 2 );
    z-index: 1;
    background: white;
    padding: 20px 100px;
}

.navbar-mobile .nav-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    position: relative;
}
.navbar-mobile .nav-menu li {
    margin: 10px 0;
}
.navbar-mobile .nav-menu a {
    color: hsl(210, 4%, 67%);
}
.navbar-mobile .nav-menu .active {
    background: hsl(51, 100%, 49%);
}

@media(max-width: 768px){
    .header {
        background-position-x: center;
    }
    .header h1 {
        font-size: 50px;
    }
    .header svg {
        left: 47%;
    }
    .od-1 {
        order: 2;
    }
    .od-2 {
        order: 1;
    }
    .content {
        height: 600px;
    }
    .content img {
        width: 768px!important;
    }
    .texts {
        text-align: center;

        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texts p {
        max-width: 300px;
        
    }
    .client {
        margin: 15px auto;
    }
    .social a {
        margin: 0 10px;
    }
    .btn-hmb {
        display: block;
        border: none;
        background: transparent;
        outline: none;
        margin-right: 30px;
    }
    .nav-menu {
        display: none;
    }
}

@media(max-width: 425px){
    .content img {
        width: 100%!important;
    }
    .content {
        height: max-content;
    }
    .navbar {
        width: 425px;
    }
    .social .row div {
        width: max-content;
    }
    .header h1 {
        font-size: 30px;
        margin-top: 140px;
    }
    #seta {
        display: none;
    }
    article.container-texts h2 {
        font-size: 31px;
    }
    .texts {
        width: 100%;
    }
    .container-texts {
        margin: 100px 0;
    }
    .in-figcaption figcaption {
        top: 60%;
    }
    footer .row div.col-lg-12 {

    }
}