// Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Container
$cont-desktop-width:1440px;
$cont-mobile-width:375px;

// Color Primary
$sfot-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated:hsl(167, 40%, 24%);
$dark-blue:hsl(198, 62%, 26%);
$dark-moderate:hsl(168, 34%, 41%);

// Color Neutral
$very-darkdesatur-ted: hsl(212, 27%, 19%);
$very-darkgrayish-blue: hsl(213, 9%, 39%);
$dark-grayish:hsl(232, 10%, 55%);
$grayish:hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

body {
    position: relative;
    scroll-behavior: smooth;
}

figure {
    margin: 0;
}

.font-barlow {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

.container-fluid {
    padding: 0!important;
}
.container {
    max-width: $cont-desktop-width!important;
}


// Animações
.fadeIn {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: both;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.showMenu {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: showMenu;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hideMenu {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: hideMenu;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes hideMenu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.anm-float {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: float;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes float {
    from {
        top: 50%;
    }
    to {
        top: 55%;
    }
}

// Cabeçalho
.header {
    height: 100vh;
    background-image: url(../img/image-header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
.header h1 {
    color: $white;
    font-size: 100px;
    margin-top: 200px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Fraunces", serif;
}
.header svg {
    position: absolute;
    left: 50%;
    top: 50%;
}

// Navbar
.navbar {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
}
.container-navbar {
    width: 100%;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    display: flex;
}
.nav-menu li {
	list-style: none;
	margin: 0 10px;
	transition: all .3s ease-in-out;
	padding: 10px 25px;
	border-radius: 30px;
}
.nav-menu li:hover:not(.active) {
    background-color: rgba(255, 255, 255, .3);
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-menu li:hover .item-menu {
    text-transform: uppercase;
    color: $white;
}
.item-menu {
    color: $white;
    text-decoration: none;
    font-weight: 600;
}
.active {
    background-color: white;
}
.active .item-menu {
    color: #222!important;
    text-transform: uppercase;
    font-weight: 700;
}
.op-0 {
    opacity: 0;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.fixed {
    position: fixed;
    top: 0;
    background: $white;
    height: 74px;
}
.navbar.fixed .item-menu {
    color: #222;
}
.navbar.fixed .active .item-menu {
    color: white!important;
}
.navbar.fixed li:hover:not(.active) {
    background-color: #222;
    color: $white;
}
.navbar.fixed .active {
    background-color: #222;
    color: white;
}

//Logo
.navbar.fixed svg.logo path {
    fill: #222;
}

// Botão menu mobile
.navbar.fixed .btn-hmb svg path{
    fill: #222;
}

// Serviços
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: $cont-desktop-width;
}
article.container-texts {
    
}
.texts {
    width: 500px;
}
article.container-texts h2 {
    font-size: 50px;
    color: $very-darkdesatur-ted;
    font-weight: 800;
    font-family: 'Fraunces', serif;
    margin-bottom: 40px;
}
article.container-texts p {
    // font-size: 50px;
    color: $very-darkdesatur-ted;
    font-family: 'Barlow', serif;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 400px;
    line-height: 30px;
}
article.container-texts a {
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
	font-family: "Fraunces", serif;
}
.in-figcaption {
    position: relative;
}
.in-figcaption figcaption {
    position: absolute;
    top: 70%;
    left: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.in-figcaption figcaption h3 {
    font-weight: 600;
    margin: 0;
    font-family: "Fraunces", serif;
    margin-bottom: 30px;
}
.in-figcaption figcaption p {
    max-width: 412px;
    font-weight: 600;
}
.fig-green h3 {
    color: $dark-desaturated;
}
.fig-green p {
    color: $dark-moderate;
}
.fig-blue h3 {
    color: $very-darkdesatur-ted;
}
.fig-blue p {
    color: $dark-blue;
}
.container-testimonial .container, footer .container {
    padding: 130px 0;
}
.container-testimonial h4 {
    color: $grayish;
    text-align: center;
    font-family: "Fraunces", serif;
    font-weight: 600;
    margin-bottom: 80px;
    text-transform: uppercase;
}

// Testimonial
.testimonial {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.client {
	width: 347px;
	text-align: center;
}
.photo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    // background-image: url(../img//image-emily.jpg);
    background-size: cover;
    margin: 0 auto;
}
.client h5 {
    color: $very-darkdesatur-ted;
    font-weight: 800;
    font-family: "Fraunces", serif;
}
.client p {
    margin-top: 60px;
    line-height: 30px;
    font-weight: 700;
    color: $dark-grayish;
}
.client span {
    color: $grayish;
    font-weight: 600;
    font-family: "Barlow", serif;
    font-size: 14px;
}

// Pre footer
.pre-footer {
    width: $cont-desktop-width;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.pre-footer img {

}

// Footer
footer {
    // width: $cont-desktop-width!important;
    background-color: $dark-moderate;
    padding: 100px 0
}
footer .col-lg-12 > div, footer .col-lg-12 > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tite-footer h6 {
    font-size: 30px;
    font-family: "Barlow", serif;
    font-weight: 800;
    color: $dark-desaturated;
}
.footerbar {
    margin: 50px 0;
}
.footerbar a {
    margin: 0 30px;
    color: $dark-desaturated;
    text-decoration: none;
    font-weight: 600;
}
.social a {
    margin: 0 20px;
}