@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  scroll-behavior: smooth;
}

figure {
  margin: 0;
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.font-fraunces {
  font-family: 'Fraunces', serif;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anm-float {
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes float {
  from {
    top: 50%;
  }
  to {
    top: 55%;
  }
}

@keyframes float {
  from {
    top: 50%;
  }
  to {
    top: 55%;
  }
}

.header {
  height: 100vh;
  background-image: url(../img/image-header.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header h1 {
  color: white;
  font-size: 100px;
  margin-top: 200px;
  text-transform: uppercase;
  font-weight: 700;
}

.header svg {
  position: absolute;
  left: 50%;
  top: 50%;
}

.navbar {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
}

.container-navbar {
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu li {
  list-style: none;
  margin: 0 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px 25px;
  border-radius: 30px;
}

.nav-menu li:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-menu li:hover .item-menu {
  text-transform: uppercase;
  color: white;
}

.item-menu {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.active {
  background-color: white;
}

.active .item-menu {
  color: #222 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.op-0 {
  opacity: 0;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 1440px;
}

article.container-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texts {
  width: 500px;
}

article.container-texts h2 {
  font-size: 50px;
  color: #23303e;
  font-weight: 800;
  font-family: 'Fraunces', serif;
  margin-bottom: 40px;
}

article.container-texts p {
  color: #23303e;
  font-family: 'Barlow', serif;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 400px;
  line-height: 30px;
}

article.container-texts a {
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-family: "Fraunces", serif;
}

.in-figcaption {
  position: relative;
}

.in-figcaption figcaption {
  position: absolute;
  top: 70%;
  left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.in-figcaption figcaption h3 {
  font-weight: 600;
  margin: 0;
  font-family: "Fraunces", serif;
  margin-bottom: 30px;
}

.in-figcaption figcaption p {
  max-width: 412px;
  font-weight: 600;
}

.fig-green h3 {
  color: #25564b;
}

.fig-green p {
  color: #458c7e;
}

.fig-blue h3 {
  color: #23303e;
}

.fig-blue p {
  color: #19536b;
}

.container-testimonial {
  width: 1440px;
}

.container-testimonial h4 {
  color: #a7abae;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */